<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785466623285-bo67t33fc40rkbuuo6rupeediahhh7mm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785466623285-bo67t33fc40rkbuuo6rupeediahhh7mm</string>
	<key>API_KEY</key>
	<string>AIzaSyAbQUkhVzTr7nro7krKN0l7F_HXS2dkCaE</string>
	<key>GCM_SENDER_ID</key>
	<string>785466623285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dmitry.VKontakteApp</string>
	<key>PROJECT_ID</key>
	<string>vkontakteapp-68f24</string>
	<key>STORAGE_BUCKET</key>
	<string>vkontakteapp-68f24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785466623285:ios:e24aa5b1e7f06651f9f87c</string>
</dict>
</plist>